html {
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient(to top right, rgb(78, 90, 217), rgb(95, 89, 200), rgb(112, 87, 183), rgb(129, 86, 165), rgb(146, 84, 148), rgb(163, 83, 131), rgba(141, 102, 132, 1), rgba(119, 121, 133, 1), rgba(98, 140, 135, 1), rgba(76, 158, 136, 0.99), rgba(54, 177, 137, 0.99), rgba(32, 196, 138, 0.99));
    display: inline-block;
}

table {
    font: 14px Verdana, Geneva, sans-serif;
    color: #363732;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

div.separator {
    height: 10px;
}

div.normalSeparator {
    height: 20px;
}

div.bigSeparator {
    height: 40px;
}

#container {
    width: 198vmin;
    height: 98vmin;
}

#headerContainer {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #66C3FF;
    margin: 0 30% 0;
    overflow: hidden;
    padding: 10px;
    border-radius: 35px 0 35px 0;
    -moz-border-radius: 35px 0 35px 0;
    -webkit-border-radius: 35px 0 35px 0;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
}

#ad1 {
    float: left;
    border: 2px solid black;
    height: 385px;
    margin-top: 150px;
    margin-left: 50px;
    width: 10%;
}

#ad2 {
    float: left;
    border: 2px solid black;
    height: 385px;
    margin-top: 150px;
    margin-right: 50px;
    width: 10%;
}

#gameContainer {
    float: left;
    height: 700px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#boardContainer {
    margin-left: 35px;
    height: 695px;
    width: 35%;
    border: 4px solid white;
    border-radius: 10px;
}

#boardTitle {
    height: 50px;
    font: 36px Verdana, Geneva, sans-serif;
    color: #66C3FF;
    text-align: center;
    margin-right: 100px;
}

#board {
    alignment: center;
    text-align: center;
    margin-left: 90px;
    margin-right: auto;
}

.box {
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font: 36px Verdana, Geneva, sans-serif;
    width: 40px;
    height: 40px;
}

.boxCorrect {
    background-color: lightgreen;
}

.boxWrong {
    background-color: indianred;
}

#definitionsContainer {
    height: 100%;
    margin-left: -130px;
    width: 40%;
}

#definitionsRectangle {
    margin-top: 15%;
    height: 77%;
    width: 100%;
    border: 4px solid white;
    border-radius: 10px;
}

.definitionsTitle {
    margin-left: 5px;
    font: 36px Verdana, Geneva, sans-serif;
    color: #66C3FF;
    text-align: center;
}

.definitionsText {
    margin-left: 5px;
    font: 14px Verdana, Geneva, sans-serif;
    color: #363732;
    text-align: center;
}

#bottomContainer {
    height: 100px;
    margin-left: 0;
}

#buttonsContainer {
    width: 125vmin;
    height: 100%;
    margin-left: 39vmin;
    display: flex;
    justify-content: space-around;
}

.button {
    font: 13px Verdana, Geneva, sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: #6aa9ff;
    float: left;
    height: 6vmin;
    width: 20vmin;
    text-align: center;
    margin-top: 5vmin;
}

.button:hover {
    background-color: grey;
    cursor: pointer;
}

.button:active {
    box-shadow: 0 5px #333;
    transform: translateY(4px);
}

.button:disabled {
    border: 2px solid gray;
    box-shadow: 0 5px #333;
    transform: translateY(4px);
    cursor: not-allowed;
}

#cluesSearchContainer {
    display: flex;
    justify-content: space-around;
}

#cluesSearchBar {
    margin-left: 5px;
}

#cluesSearcherInput {
    background: transparent;
    font: 14px Verdana, Geneva, sans-serif;
    color: #363732;
    border-radius: 2vmin;
    border: 2px solid white;
    width: 15vmin;
    margin-left: 7vmin;
    height: 2vmin;
}

#cluesSearcherInput::placeholder {
    color: rgba(6, 10, 21, 0.54);
}

#cluesSearcherButton {
    background: transparent;
    margin-left: -15vmin;
    border-radius: 2vmin;
    margin-top: -0.1vmin;
    width: 5vmin;
    border: 2px solid white;
    height: 2.8vmin;
}

#cluesSearcherButton:hover {
    cursor: pointer;
    background-color: darkgrey;
}

#cluesResult {
    text-align: justify;
    font: 14px Verdana, Geneva, sans-serif;
    color: #363732;
    background: transparent;
    width: 21.4vmin;
    margin-left: 17vmin;
    margin-top: 0.5vmin;
    height: 12vmin;
    overflow: auto;
}

#tableSix {
    margin-top: -0.2vmin;
}