body {
    margin: 0px;
}

.leftMenu{
    width: 15%;
    border-width: thin;
    float:left;
    background-color: #05437e;
    color: #FFFFFF;
    padding-bottom: 650px;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}

.vertical-menu {
    position: absolute;
    width: 15%; /* Set a width if you like */
    float : left;
    padding-bottom: 100%;
    margin-left: 0px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.game{
    width: 85%;
    float:right;
    background-image: linear-gradient(180deg, #7c7989 0, #5a5771 25%, #353558 50%, #081740 75%, #00002c 100%);    border-width: thin;
    color: #FFFFFF;
    background-color: #000000;
    padding-bottom: 650px;
}

.gameTitle{
    border-top: 15px;
    display:block;
    margin:auto;
}
